{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron">
<h1 class="display-4">track_it!</h1>
<p class="lead">A Timetracker website built with Django.</p>
</div>
{% endblock %}
